<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715463419389-dhmffcimsnohqen0ie68phr53ponkoii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715463419389-dhmffcimsnohqen0ie68phr53ponkoii</string>
	<key>API_KEY</key>
	<string>AIzaSyBPVZB1DxvBlwLrpovaN9Re-K5DcVpH8WA</string>
	<key>GCM_SENDER_ID</key>
	<string>715463419389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackingAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>tracking-people-d4158</string>
	<key>STORAGE_BUCKET</key>
	<string>tracking-people-d4158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715463419389:ios:c89d425921dcee2b0d2594</string>
</dict>
</plist>